@import url('https://fonts.cdnfonts.com/css/montserrat');

html,
body,
#root {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  color: #454545;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 400;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

h1 {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
}

h2 {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
}